<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p style="margin-bottom: 0.5em">
          Comunitate:
        </p>

        <ul>
          <li>
            Facebook:
            <a href="https://www.facebook.com/groups/HomeschoolingMoldova/">
              HomeschoolingMoldova
            </a>
          </li>
          <li>Viber: (invitație la cerere)</li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p style="margin-bottom: 0.5em">
          Dacă aveți întrebări, ați găsit o greșeală, sau puteți propune o
          îmbunătățire, scrieți-ne:
        </p>

        <ul>
          <li><a href="https://m.me/HomeschoolingMoldova">m.me/HomeschoolingMoldova</a></li>
          <li><a href="mailto:info@homeschooling.md">info@homeschooling.md</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
